<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>{%block titulo %}{%endblock titulo%}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
    </head>
    <body>
        {% block conteudo %}
        {{ include('componentes/menu.twig') }}
         <div>TEXTO DA MASTER
            
{#            {% for produto in dados %}#}
{#                Produto : {{ produto.id }}<br>
{#                Descrição : {{ produto.descricao }}<br>
{#                Preço: {{ produto.preco }}<br>
{#                <br>
{#                <hr>
{#                {% endfor %}#}
        </div>
        {% endblock %}
            
            
        {% block rodape %}
            <script src="../js/jquery-3.3.1.min.js" type="text/javascript"></script>
            <script src="../js/funcoes.js" type="text/javascript"> </script>
        {% endblock %}
    </body>
</html>
